body {
    padding-top: 50px;
}

#score {
    color: #fff;
    background-color: #080808;
    padding: 10px 15px;
    font-size: 1.5em;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#countDown {
    float: right;
}

.letters {
    position: absolute;
    width: 30px;
    height: 30px;
    font: bold 14px verdana;
    background-color: #ffff00;
    text-align: center;
    padding: 10px;
}
